@media (max-width: 531px) {
  footer .col-md-5 {
    text-align: center;
  }

  footer .nav {
    justify-content: center;
  }
}

#Sponsors {
  background-color: #acd9a1;
}

#Sponsors h3 {
    font-weight: bold;
    text-align: left;
  }

.sponsor-section {
    margin-top: 20px;
    padding: 20px;
  }

.sponsor-logo {
    margin: 50px;
  }

footer {
  background-color: #e0cbef;
  width: 100%
}

.footer-box {
  float: center;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
.secondary-background {
  /* background-color: #a488e3; */
  background-color: #C5B3EE;
}

.secondary-text{
  color: #A78AE1;
}

.accent-background{
  background-color: #d1c5ed;
}

.primary-background {
  background-color: #8464CC;
}

.primary-text {
  color: #8464CC;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../assets/test_banner.jpg");

  /* Set a specific height in pixels */
  height: 700px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
}
